@import '@core/scss/angular/libs/datatables.component.scss';
@import '@core/scss/angular/libs/form-wizard.component.scss';
@import '@core/scss/angular/libs/select.component.scss';
@import '@core/scss/angular/libs/sweet-alerts.component.scss';
@import '@core/scss/angular/libs/toastr.component.scss';
.swal-wide{
    width:100px !important;
}
.datatable-scroll {
  width: auto !important;
}
.btnx{
  border-color: #fff;
  position:relative;
  display:inline-block ;
  padding: 7px 5px;
  margin: 10px 0;
  color: #fff ;
  text-decoration: none ;
  text-transform:  uppercase;
  font-size: 18px ;
  letter-spacing: 2px;
  border-radius: 40px ; 
  background: linear-gradient(90deg,#755bea,#ff72c0);
}